*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#Anavbar{
    position: fixed;
    width: 100%;
}

#Atopnavbar{
    width: 100%;
    
    height: 80px;
    background-color: 
    #008ecc;
    color: aliceblue;
    display: flex;
    
}
#Alogo{
    width: 30px;
    height: 30px;
    background: transparent;
    margin: 20px;
    margin-left: 100%;
}
#Aweblogo{
    margin-left: 80px;
    margin-top: 20px;}
#Asearch{
        height: 40px;
        width: 500px;
        padding: 0px 10px;
        border-radius: 5px;
        margin-left: 25%;
        margin-top: 20px;
    }
    #Alog_sign{
        font-size: 20px;
        margin-left: 13%;
        margin-top: 13px;
      
    }
    #Auserlogo{
        width: 30px;
        height: 30px;
        background: transparent;
        margin-right: 10px;
        position: relative;
        top:10px
        
    }
    #Alogin{
        color: aliceblue;
    }
    #Asignup{
        color: aliceblue;
    }
    #Acartdiv{
        font-size: 20px;
        margin-left: 5%;
        margin-top: 13px;
        color: aliceblue;
    }
    #Acartlogo{
        width: 30px;
        height: 30px;
        background: transparent;
        margin-right: 10px;
        position: relative;
        top:10px
        
    }
    #Alogodiv{
       
        position: relative;
        cursor: pointer;
        left: 20px;
    }
    #Amenu{
        display: none;
        width: 30%;
        border: 1px solid gray;
        height: 600px;
        position: relative;
        top: -80px;
        background-color: rgb(252, 252, 252);
        
    }
    #Auserlogo2{
   width: 30px;
   height: 30px;
   margin-right: 20px;
    }
    #Amenu h2{
        padding: 20px;
    }
    #Across{
        position: relative;
        left: 150px;
        font-size: 30px;
        font-weight: 600;
        width: 30px;
    }
    #Amenunav{
        background-color: #008ecc;
        color: aliceblue;
    }
    #Aaccount{
        height: 30px;
        padding: 0px 50px;
        margin-left: 30px;
        margin-bottom: 10px;
        color: aliceblue;
        background-color: #008ecc;
        border: 1px solid white;
    }
    #Aoffer{
        height: 30px;
        padding: 0px 50px;
        margin-left: 40px;
        margin-bottom: 10px;
        color: aliceblue;
        background-color: #008ecc;
        border: 1px solid white;
    }
    #Aoptions h3{
        color: rgb(54, 52, 52);
        margin: 15px 20px;
        font-weight:lighter;

    }