*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(247, 239, 239);
    text-decoration: none;
}
#P_container{
    text-align: center;
    margin: auto;
    width: 85%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 40px;
    border-radius: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#P_image>img{
    border-radius: 20px 0 0 0;
    height: 100%;
}
#P_form{
    width: 40%;
    text-align: left;
    padding: 30px;
}
#P_form>p{
    margin-top: 15px;
    line-height:21px;
    font-size: 14px;
    color: gray;

}
#P_input{
    display: flex;
    width: 100%;
    margin-top: 50px;
}
#P_number_input{
    padding: 10px;
    padding-left: 40px;
    width: 80%;
   border: none;
   outline: none;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#P_input>span{
    position: absolute;
    margin-top: 10px;
}
#popup{
    margin-top: 100px;
    margin-right: 100px;
    display: none;
}
#popup>img{
    width: 62%;
    height: 300px;
 border-radius: 20px;
}
@media only screen and (max-width: 768px) {

    #P_container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #P_image{
        text-align: left;
    }
    #popup{
       left: 8%;
       display: none;
   }
   #popup>img{
    width: 42vw;
    height: 300px;
    border-radius: 20px;
}
}